#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 100%;
  height: 100%;
  /* background-color: #daf0ff; */
  background-color: #142129;
  display: flex;
}

.Blur {
  background-color: rgba(0, 107, 181, 0.63);
  border-radius: 39px;
  height: 857px;
  width: 357px;

  filter: blur(70px);
  -webkit-filter: blur(70px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  left: calc(50% - 178.5px);
  top: calc(50% - 428.5px);
}

.CalculatorBox {
  background-image: linear-gradient(to bottom left, #17181a, #17181a);

  margin: auto;

  width: 375px;
  height: 812px;

  box-sizing: border-box;
  border-radius: 39px;
  padding: 34px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 2;
}

.Display {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  overflow: hidden;
}

.Display p {
  font-size: 24px;
  height: 36px;
  color: #818181;
}

.Display h3 {
  font-size: 48px;
  margin: 0;
  height: 72px;
}

.Keys {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.LeftGroup {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.LeftGroup .Top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 20px;
}

.LeftGroup .Bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.RightGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  height: 60px;
  width: 62px;
  background-color: #303136;
  border-radius: 16px;
  border: none;
  color: #29a8ff;
  padding: 0;
  font-size: 32px;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}

.RightGroup button {
  background-color: #005db2;
  color: #339dff;
}

/* / button */
.LeftGroup .Top button:nth-child(3) {
  background-color: #005db2;
  color: #339dff;
}

/* / button */
.LeftGroup .Top button:nth-child(1),
.LeftGroup .Top button:nth-child(2) {
  background-color: #616161;
  color: #a5a5a5;
}

/* 0 button */
.LeftGroup .Bottom button:nth-child(1) {
  width: 144px;
}

/* + button */
.RightGroup button:nth-child(3) {
  height: 96px;
}

/* = button */
.RightGroup button:nth-child(4) {
  height: 96px;
  background-color: #1991ff;
  color: #b2daff;
}

@media only screen and (max-width: 600px) {
  .CalculatorBox {
    width: 100%;
    height: 100%;

    border-radius: 0;
  }
}
